# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build logs
*.log

# Ignore temporary files
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[Oo]ut/
